<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>identityPoolId</key>
	<string>ap-northeast-1:c673e3bf-2119-402c-b23e-a08a4a09e33c</string>
	<key>iotEndPoint</key>
	<string>https://arpwxwuyc6myb-ats.iot.ap-northeast-1.amazonaws.com</string>
</dict>
</plist>
